## Assignment Question

__Q1) What is a database? Differentiate between SQL and NoSQL databases ?__

__Ans)__ A database is a collection of data that is organized and stored in a way that allows for efficient retrieval and manipulation. <br>

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database systems. SQL databases are relational databases that store data in tables with a pre-defined structure, and use SQL for querying and manipulating the data. NoSQL databases, on the other hand, do not use a pre-defined schema and can store data in various formats, such as key-value pairs or documents. They typically use their own query language or API for data retrieval and manipulation.

__Q2) What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.?__

__Ans)__  DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to define, modify, and delete database objects such as tables, indexes, and views. <br>

__Here are some examples of DDL statements and their usage:__ <br>

* __CREATE:__ This statement is used to create a new database object such as a table. For example, the following SQL statement creates a new table named "customers" with three columns: "id", "name", and "email".<br>
__Code__ : <br>
CREATE TABLE customers ( <br>
  id INT PRIMARY KEY,<br>
  name VARCHAR(50),<br>
  email VARCHAR(100)<br>
);<br>

* __DROP__: This statement is used to delete a database object such as a table. For example, the following SQL statement drops the "customers" table: <br>
DROP TABLE customers; <br>

* __ALTER:__ This statement is used to modify the structure of a database object. For example, the following SQL statement adds a new column "phone" to the "customers" table: <br>
ALTER TABLE customers ADD phone VARCHAR(20); <br>

* __TRUNCATE:__ This statement is used to delete all the data from a table. For example, the following SQL statement removes all the data from the "customers" table:
TRUNCATE TABLE customers; <br>

__Q3) What is DML? Explain INSERT, UPDATE, and DELETE with an example.?__

__Ans)__ It is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are used to insert, update, retrieve, and delete data from database tables.

Here are some examples of DML statements and their usage:

* __INSERT:__ This statement is used to insert new data into a table. For example, the following SQL statement inserts a new row into the "customers" table with values for the "name" and "email" columns: <br>
__Code__:
INSERT INTO customers (name, email) VALUES ('Shehryar Gondal', 'ShehryarGondal@example.com'); <br>

* __UPDATE:__ This statement is used to modify existing data in a table. For example, the following SQL statement updates the "email" column of the row with the "id" value of 1 in the "customers" table:<br>
__Code__:
UPDATE customers SET email = 'jsmith@example.com' WHERE id = 1; <br>

* __DELETE:__ This statement is used to remove one or more rows from a table. For example, the following SQL statement deletes the row with the "id" value of 1 from the "customers" table: <br>
__Code__:<br>
DELETE FROM CUSTOMER WHERE id =1 ;

__Q4) What is DQL? Explain SELECT with an example ?__

__Ans)__ DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to search and retrieve data from one or more database tables.

__Here is an example of a DQL statement:__ <br>

* __SELECT:__ This statement is used to retrieve data from one or more tables. For example, the following SQL statement retrieves all columns and rows from the "customers" table:
__Code__ : SELECT * FROM customers;

__Q5) Explain Primary Key and Foreign Key?__

__Ans)__ Primary Key and Foreign Key are two types of constraints used in relational databases to establish a relationship between two tables.A Primary Key uniquely identifies rows in a table, while a Foreign Key links one table to another using a Primary Key-Foreign Key relationship.

__Q6) Write a python code to connect MySQL to python. Explain the cursor() and execute() method.?__

__Ans)__ In this code, the mysql.connector module is used to connect to a MySQL database. The connect() method is used to establish a connection to the database, and the cursor() method is used to create a cursor object. The execute() method is then called on the cursor object to execute a SQL query. Finally, the fetchall() method is called to fetch the results of the query, which are printed to the console using a for loop. <br>

The cursor() method returns a cursor object, which is used to interact with the database. The cursor object allows you to execute SQL queries, fetch results, and manipulate data in the database.<br>

The execute() method is used to execute a SQL query. It takes a SQL query string as a parameter and executes the query on the database. The execute() method can be used to execute any type of SQL query, including SELECT, INSERT, UPDATE, and DELETE statements. <br>

Overall, this Python code demonstrates how to connect to a MySQL database using the mysql-connector module, create a cursor object, and execute a SQL query using the execute() method.

In [ ]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

__Q7) Q7. Give the order of execution of SQL clauses in an SQL query.?__

__Ans)__ The Order of execution of SQL query is :
1. FROM.
2. WHERE.
3. GROUP BY.
4. HAVING.
5. SELECT.
6. ORDER BY.
7. LIMIT.

-------------------------------------------------------------------------------------------- __End__----------------------------------------------------------------------------------------------------------------